.headerText {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  position: absolute;
  top: 40px;
  left: auto;
  z-index: 2;
  text-shadow: 0 0 25px rgb(255, 151, 0);
}