.drum {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  background-color: rgba(127, 111, 86, 0.8);
  border-radius: 100%;
  transform: scale(1, 0.8);
  box-shadow: 0 0 0 0 rgba(255, 151, 0);
  &:hover {
    background-color: rgba(127, 111, 86, 0.95);
  }
}

.drum-animated-wait {
  animation: pulse 2s infinite;
}

.drum-animated-interaction {
  animation: pulse 0.3s;
}

.big{
  width: 150px;
  height: 150px;
}
.small {
  width: 100px;
  height: 100px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95, 0.75);
    box-shadow: 0 0 0 0 rgb(255, 151, 0);
  }

  70% {
    transform: scale(1, 0.8);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95, 0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}