.recordDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 151, 0);
  cursor: pointer;
  margin: 0 0 20px 6px;
}

.controlsDisabled {
  color: gray;
  cursor: not-allowed;
}

.trackName {
  margin: 30px auto 40px auto;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.empty {
  margin: auto;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.drumName {
  display: flex;
  color: rgba(255, 151, 0);
  border: 1px solid rgba(255, 151, 0);
    border-radius: 10px;
  width: min-content;
  padding: 4px;
  margin: 6px;

}