.recordDetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 151, 0);
  cursor: pointer;
  margin: 0 0 20px 6px;
}

.timeout {
  border: 1px solid rgba(255, 151, 0);
  border-radius: 10px;
  padding: 8px;
  margin: 6px;
  display: flex;
  width: 50px;
  box-sizing: border-box;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.controlsDisabled {
  color: gray;
  cursor: not-allowed;
}

.trackName {
  margin: 30px auto 40px auto;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.empty {
  margin: auto;
  color: rgba(232, 92, 92, 0.9);
  font-family: "New Rocker", system-ui;
}

.drumSelector {
  display: flex;
  color: rgba(255, 151, 0);
  border: 1px solid rgba(255, 151, 0);
  border-radius: 10px;
  width: min-content;
  padding: 8px;
  margin: 6px;

}